<h1 id="tour-header"><%=@neighborhood.name%>: Sights to See</h1> <br \>

<div id="tour-container">

  <div id="map-canvas">
  </div>

  <div id="tabs">
    <ul>
      <li><a href="#waypoints">Sights</a></li> 
      <li><a href="#directions-panel">Directions</a></li>  
    </ul>
       
    <div id="waypoints">    
      <div id="places">
        <form id ="start">
        <label>Start: </label><input type="text" name="start"></input>
        </form>    

        <form id ="destination">
        <label>Destination: </label><input type="text" name="destination"></input>
        </form>
        <br \>
      </div> 

      <% @places.each do |place| %>  
        <div class="waypoints-header" title="<%=place.description%>">
          <input type=checkbox> <%=place.name%> 
          <div class = "address"><%=place.address%></div>
          <div class = "longitude">Longitude: <%=place.longitude%> </div>
          <div class = "latitude">Latitude: <%=place.latitude%> </div>
          <div class = "pipe">|</div>
        </div>
      <% end %>
    </div>
    
    <div id="directions-panel">
      Select Points to get Directions
    </div> 

  </div>

</div>

<div id="tour-latitude"><%=@neighborhood.latitude%></div>  
<div id="tour-longitude"><%=@neighborhood.longitude%></div>

<script>
  tab();
  tooltip();
  initialize();

  $("#start").bind("submit", function(e){
    e.preventDefault(); 
    calcRoute()
  });

  $("#destination").bind("submit", function(e){
    e.preventDefault(); 
    calcRoute()
  });

  $("input[type='checkbox']").bind("click", function(e){
    calcRoute()
  });
    
</script>



