<h1 id="tour-header"><%=@neighborhood.name%>: Sights to See</h1> <br \>


<div id="tour-container">

  <div id="map-canvas">
  </div>

  <div id="places">
    <form id ="start">
    <label>Start: </label><input type="text" name="start"></input>
    </form>    

    <form id ="destination">
    <label>Destination: </label><input type="text" name="destination"></input>
    </form>
    <br />

    <% @places.each do |place| %>
      <div class="waypoints">
        <input type=checkbox>
        <%=place.name%> 
        <div class = "pipe">|</div>
      </div>
    <% end %>
  </div>

</div>




<div id="tour-latitude"><%=@neighborhood.latitude%></div>  
<div id="tour-longitude"><%=@neighborhood.longitude%></div>
  
<!-- <%=@places[1].name%> NYC -->
